<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" 
id="com.pruebasdv" version="1.0.0">
  <name>TAREASHOY</name>
  <description> Aplicación para publicar tareas y recibir ayuda de la comunidad</description>
   <author email="edinsoncode@gmail.com" href="http://github.com/ockang">OCKANG</author>
   
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
 
  <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1"/>
  <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0"/>
  <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1"/> 
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>
  
  <icon src ="icon.png"/>
  <splash src ="splash.png" />
   
  <allow-navigation href="http://45.55.176.222/*" />
  <allow-navigation href="*://45.55.176.222/*" />
  <allow-navigation href="*" />

  <access origin="*"/>
  <allow-intent href="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>