<section class="scrollable page-category">

	<div class="scrollable-content">
		<div class="navbar">
	        <header class="header__Content f c" >
	        	 <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
	            	<i class="fa fa-bars"></i>
	          	 </div>
				 <div class="container__Header">
				 	<a ng-href="#home">
						<h2>
						Tareas <span>Hoy</span></h2>
					</a>
				 </div>
			</header>
	       
       </div>


      <div class="category">
        <div class="category__List">

            <article class="article">
              <a ng-href="#preguntas/1">Matemáticas</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/2">Estadistica y Cálculo</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/3">Historia</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/4">Ciencias Sociales</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/5">Geografía</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/6">Derecho</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/7">Contabilidad</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/8">Administración</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/9">Ingles</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/10">Idiomas</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/11">Química</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/12">Biología</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/13">Informática</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/14">Tecnología y Electrónica</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/15">Religión</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/16">Filosofía</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/17">Psicología</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/18">Arte</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/19">Musica</a>
            </article>

            <article class="article">
              <a ng-href="#preguntas/20">Cultura</a>
            </article>

        </div>
      </div>
	
</section>

