


<section class="scrollable page_home" ng-controller="homeApp">

	<div class="scrollable-content">
		<header class="header__Content">
			<h2>Tareas <span>Hoy</span></h2>
		</header>
		<figure class="header__Figure">
			<img src="dist/img/home.png" alt="">
		</figure>
		<div class="header__Sub">
			<h3>"{{data}}"</h3>
		</div>
		<div class="footer__Continue">
			<div class="socials">
				<a ng-href="#ingresar" class="link continue">
					INGRESA CON EMAIL
				</a>
			</div>

			<div class="socials">
				<a ng-href="#registrar" class="link register">
					REGISTRARSE
				</a>
			</div>

		</div>
	</div>
	
</section>

